//- TABLE OF CONTENT
	1. ONE-LEVEL MENU
	2. WP MENU
	3. CART (IN HEADER)
	3. BOOTSTRAP BREADCRUMB
	5. PAGINATION

//- 4. BOOTSTRAP BREADCRUMB
	+breadcrumb([["Home", "index.html"],["Blog", ""],["New collections", ""]], "Summer collections 2013")
mixin breadcrumb(arr, lastitem)
	// begin breadcrumb
	ol.breadcrumb
		- for (items in arr)
			- var item = arr[items]
			li
				a(href=item[1], title=item[0])!=item[0]
		li.active!=lastitem
	// begin breadcrumb

mixin bs-pagination()
	nav(aria-label="Page navigation")
		ul.pagination
			li: a(href="#", aria-label="Previous") #[span(aria-hidden="true") &larr;]
			li.active: span 1 #[span.sr-only current]
			li: a(href="#") 2
			li: a(href="#") 3
			li: a(href="#") 4
			li: a(href="#") 5   
			li: a(href="#", aria-label="Next") #[span(aria-hidden="true") &rarr;]
			    
//- Navbar mixins
	// +nav("Project name", "dropdown_menu")
	// +nav_item( "index.html", "active" ) Home
	// +nav_item( "about.html" ) About
	// +nav_item( "contact.html" ) Contact
	// +nav_item_dropdown( "#" )( label="Dropdown")
	// 	+nav_item( "#" ) Action
mixin nav(name, id, style)
	- var style = (typeof style === 'undefined') ? "default" : style
	nav( role="navigation", class=["navbar", "navbar-" + style] )
		.navbar-header
			button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#")= name
 
		.collapse.navbar-collapse( id=id )
			ul.nav.navbar-nav
				block
 
mixin nav_item(href, active)
	li(class=active): a( href=href )
		block
 
mixin nav_item_dropdown(href, active)
	li(class=["dropdown", active])
		a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu" )
			block
 
mixin nav_divider
	li.divider
 
mixin nav_header
	li.dropdown-header
		block
 
//- End navbar mixins