//- extends layout to your side
extends layout/layout

block var
	- title = "Home page";
block content
	h1.sr-only Bone Yoyage - has a safe journey

	// Start hero-section
	section.hero-section
		#hero-slider.slider.slider--centerVert
			+fullwith-casousel("banner-01.jpg", "", "")
			+fullwith-casousel("banner-02.jpg", "", "").align-center
			+fullwith-casousel("banner-03.jpg", "", "").align-right
	// End hero-section 

	// Start intro-block
	section.block.block--bgImage.intro-block
		.container
			.row.search-travel
				.col-sm-12.col-md-3
					// Nav tabs
					ul.nav.nav-tabs(role="tablist")
						li.active(role="presentation")
							a(href="#find-hotel", aria-controls="find-hotel", role="tab", data-toggle="tab") <i class="icon-travel"></i> Find Hotel
						li(role="presentation")
							a(href="#find-flights", aria-controls="find-flights", role="tab", data-toggle="tab") <i class="icon-transport2"></i> Find Flights
						li(role="presentation")
							a(href="#find-flights-hotel", aria-controls="find-flights-hotel", role="tab", data-toggle="tab") <i class="icon-accomodation"></i> Find Flights + Hotel
						li(role="presentation")
							a(href="#find-cars", aria-controls="find-cars", role="tab", data-toggle="tab") <i class="icon-sports-car"></i> Find cars
						li(role="presentation")
							a(href="#find-cruises", aria-controls="find-cruises", role="tab", data-toggle="tab") <i class="icon-transport-1"></i> Find Cruises
				.col-sm-12.col-md-9
					// Tab panes
					.tab-content
						#find-hotel.tab-pane.active(role="tabpanel", style="background-image: url(images/bg-search-01.png)")
							h4.title-icon
								i.icon-transport2
								| Book a Flights
							form#booking-frm(action="#", method="post", enctype="multipart/form-data")
								mixin select(id, label, optionArr)
									label(for=id)= label 
									select(id= id)&attributes(attributes)
										each item in optionArr
											option(value="")= item
								.row
									.form-group.col-sm-12
										label(for="user-name") Destination
										input.form-control(type="text", placeholder="Your name:", id="user-name")
									.form-group.col-xs-6.col-sm-6
										label(for="begin-date") Check-in Date
										input.form-control(type="text", placeholder="Your name:", id="begin-date")
									.form-group.col-xs-6.col-sm-6
										label(for="end-date") Check-Out Date
										input.form-control(type="text", placeholder="Your name:", id="end-date")
									.col-md-9
										.row
											.form-group.col-xs-6.col-sm-3
												+select("room", "Rooms", [1,2,3])
											.form-group.col-xs-6.col-sm-3
												+select("adults", "Adults", [1,2,3])
											.form-group.col-xs-6.col-sm-3
												+select("children", "Children", [1,2,3])
											.form-group.col-xs-6.col-sm-3
												label(for="promotion-code") Pro Code
												input.form-control(type="text", placeholder="", id="promotion-code")
									.form-group.col-md-3
										button(type="submit").button.button-default SEARCH NOW

						#find-flights.tab-pane(role="tabpanel", style="background-image: url(images/bg-search-02.png)")
							p Book a Flights

						#find-flights-hotel.tab-pane(role="tabpanel", style="background-image: url(images/bg-search-03.png)")
							p Book a Flights

						#find-cars.tab-pane(role="tabpanel", style="background-image: url(images/bg-search-04.png)")
							p Book a Flights

						#find-cruises.tab-pane(role="tabpanel", style="background-image: url(images/bg-search-05.png)")
							p Book a Flights

			.row
				mixin introItem(number, title, text)
					.col-sm-4.col-md-4.process-item
						.icon-wrapper
							if(block)
								block
						strong.process-step= number
						h4: a(href="#")= title
						p= text || "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor."
				+introItem("01", "CHOOSE WHAT TO DO", "")
					<svg width="80" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.995 511.995"><g stroke="#666" stroke-width="10" fill="none"><path d="M370.06 58.095C339.771 26.592 299.361 9.243 256.278 9.243c-43.088 0-83.493 17.348-113.787 48.852-62.308 64.806-62.308 170.241-.022 235.013L243.86 398.98a16.805 16.805 0 0 0 12.116 5.182h.022c4.571 0 8.94-1.86 12.105-5.142L370.06 293.131c62.307-64.795 62.313-170.235 0-235.036zm-24.222 211.733l-89.812 93.268-89.308-93.257c-49.956-51.956-49.956-136.496 0-188.452 23.897-24.849 55.703-38.534 89.56-38.534 33.862 0 65.669 13.685 89.554 38.534 49.956 51.961 49.956 136.497.006 188.441z"/><path d="M511.939 484.569l-16.805-203.896c-.723-8.722-7.999-15.427-16.749-15.427H356.829v33.61h106.079l14.032 170.286H35.051l14.038-170.286h106.079v-33.61H33.611c-8.75 0-16.032 6.705-16.749 15.427L.057 484.569a16.79 16.79 0 0 0 4.386 12.761 16.81 16.81 0 0 0 12.363 5.422H495.19c4.7 0 9.181-1.966 12.363-5.422a16.837 16.837 0 0 0 4.386-12.761zM255.998 89.913c-35.828 0-64.98 29.151-64.98 64.98 0 35.828 29.151 64.98 64.98 64.98 35.834 0 64.98-29.151 64.98-64.98 0-35.829-29.151-64.98-64.98-64.98zm0 96.343c-17.298 0-31.369-14.071-31.369-31.369 0-17.298 14.071-31.369 31.369-31.369s31.369 14.071 31.369 31.369c.001 17.298-14.071 31.369-31.369 31.369z"/></g></svg>
				+introItem("02", "FIND WHAT YOU WANT", "")
					<svg viewBox="0 0 128 128" width="80" height="70" xmlns="http://www.w3.org/2000/svg"><g stroke="#666" stroke-width="3" fill="none"><path d="M8 112V16c0-4.414 3.594-8 8-8h80c4.414 0 8 3.586 8 8v47.031l8-8V16c0-8.836-7.164-16-16-16H16C7.164 0 0 7.164 0 16v96c0 8.836 7.164 16 16 16h44v-8H16c-4.406 0-8-3.586-8-8zm80-88H24v8h64v-8zm0 16H24v8h64v-8zm0 16H24v8h64v-8zM24 80h32v-8H24v8z"/><path d="M125.656 72L120 66.344c-1.563-1.563-3.609-2.344-5.656-2.344s-4.094.781-5.656 2.344l-34.344 34.344C72.781 102.25 68 108.293 68 110.34L64 128l17.656-4s8.094-4.781 9.656-6.344l34.344-34.344a7.996 7.996 0 0 0 0-11.312z"/><path d="M88.492 114.82c-.453.43-2.02 1.488-3.934 2.707l-10.363-10.363c1.063-1.457 2.246-2.922 2.977-3.648l25.859-25.859 11.313 11.313-25.852 25.85z"/></g></svg>
				+introItem("03", "ENJOY YOUR TRIP", "")
					<svg viewBox="0 0 496 496" width="80" height="70" xmlns="http://www.w3.org/2000/svg"><g stroke="#666" stroke-width="8" fill="none"><path d="M424.512 411.608c-7.48-23.928-23.896-44.016-45.568-56.312C382.16 349.488 384 342.896 384 336v-8h-78.608c7.264-4.36 14.016-9.48 20.096-15.32 4.304 1.216 8.696 1.84 13.056 1.84 12.48 0 24.712-4.88 33.904-14.072 8.528-8.528 13.416-19.952 13.848-32.04 11-5.024 19.688-13.912 24.304-25.056 4.616-11.152 4.76-23.576.536-34.904C419.376 199.6 424 188.064 424 176s-4.624-23.6-12.864-32.448c4.224-11.328 4.08-23.752-.536-34.904-4.616-11.144-13.304-20.024-24.304-25.056-.432-12.088-5.32-23.512-13.848-32.04-8.528-8.536-19.952-13.416-32.04-13.848-5.024-11-13.912-19.68-25.056-24.304-11.152-4.624-23.576-4.76-34.904-.536C271.6 4.624 260.064 0 248 0s-23.592 4.624-32.448 12.864c-11.328-4.232-23.768-4.096-34.896.536-11.152 4.616-20.032 13.304-25.064 24.304-12.08.432-23.512 5.32-32.04 13.848s-13.416 19.952-13.848 32.04c-11 5.024-19.68 13.912-24.304 25.056-4.616 11.144-4.752 23.568-.536 34.904C76.624 152.4 72 163.936 72 176s4.624 23.6 12.864 32.448c-4.224 11.328-4.08 23.752.536 34.904 4.616 11.144 13.304 20.032 24.304 25.056.432 12.088 5.32 23.512 13.848 32.04 12.4 12.4 30.312 16.856 46.904 12.176 6.096 5.864 12.864 11 20.152 15.376H112v8c0 6.896 1.832 13.488 5.056 19.288-21.672 12.296-38.088 32.384-45.56 56.312L45.12 496h405.76l-26.368-84.392zM366.616 344a24.085 24.085 0 0 1-12.888 13.888l-.424.192-50.44-12.608c.112-.488.24-.992.336-1.472h63.416zm-148.792 33.488c3.496 1.784 7.392 3.288 11.784 4.384l-19.664 58.992c-6.984 3.2-15.16 2.976-21.944-.944-7.416-4.28-11.872-12.216-11.904-20.704l41.728-41.728zm-53.04 30.408c-8.536-.04-16.424-4.472-20.712-11.896-3.824-6.632-4.12-14.6-1.144-21.488L199.2 360.44a45.9 45.9 0 0 0 5.656 7.384l-40.072 40.072zm43.24-71.4C220.456 341.272 233.904 344 248 344s27.544-2.728 39.976-7.504C287.784 341.432 285.008 368 248 368s-39.784-26.56-39.976-31.504zm37.768 47.416c.752.024 1.44.088 2.208.088s1.456-.064 2.208-.088l19.432 58.296C265.672 450.592 257.256 456 248 456s-17.672-5.408-21.64-13.792l19.432-58.296zm20.6-2.048c4.392-1.096 8.288-2.6 11.784-4.384l41.728 41.728c-.032 8.496-4.488 16.432-11.904 20.712-6.776 3.92-14.96 4.144-21.944.944l-19.664-59z"/><path d="M291.144 367.832a46.365 46.365 0 0 0 5.656-7.384l56.272 14.072c2.976 6.88 2.68 14.848-1.144 21.48-4.288 7.424-12.176 11.88-20.712 11.904l-40.072-40.072zm-156.28-78.696c-6.608-6.608-9.912-15.888-9.064-25.456l.568-6.408-6.136-1.928c-9.168-2.88-16.472-9.48-20.048-18.12-3.576-8.632-3.08-18.472 1.368-26.984l2.976-5.704-4.936-4.136C92.224 194.24 88 185.344 88 176s4.224-18.24 11.592-24.408l4.928-4.128-2.976-5.704c-4.448-8.52-4.944-18.352-1.368-26.992 3.576-8.64 10.88-15.232 20.048-18.112l6.136-1.928-.568-6.408c-.848-9.568 2.456-18.848 9.064-25.456 6.608-6.616 15.952-9.88 25.456-9.064l6.408.568 1.928-6.136c2.88-9.168 9.48-16.472 18.12-20.048 8.632-3.576 18.464-3.072 26.984 1.368l5.704 2.976 4.136-4.936C229.76 20.224 238.656 16 248 16s18.24 4.224 24.408 11.592l4.136 4.936 5.704-2.976c8.512-4.448 18.352-4.952 26.984-1.368 8.632 3.576 15.232 10.88 18.112 20.048l1.928 6.136 6.408-.568c9.568-.84 18.848 2.464 25.456 9.064 6.608 6.608 9.912 15.88 9.064 25.456l-.568 6.408 6.136 1.928c9.168 2.88 16.472 9.48 20.048 18.112 3.576 8.64 3.08 18.48-1.368 26.992l-2.976 5.704 4.936 4.128C403.776 157.76 408 166.656 408 176s-4.224 18.24-11.592 24.408l-4.936 4.136 2.976 5.704c4.448 8.512 4.944 18.344 1.368 26.984s-10.88 15.24-20.048 18.12l-6.136 1.928.568 6.408c.848 9.568-2.456 18.84-9.064 25.456-6.264 6.264-14.664 9.44-23.176 9.288 9.328-12.592 16.136-27.144 19.52-42.984C376.928 252.736 392 236.176 392 216c0-19.312-13.768-35.472-32-39.192V168h-8c-13.272 0-24.96-8.056-29.768-20.528l-2.624-6.792-7.008 1.968c-3.288.92-6.024 1.352-8.6 1.352-6.864 0-13.504-2.272-19.192-6.576l-6.424-4.856-4.816 6.456C267.416 147.272 258.096 152 248 152s-19.416-4.728-25.568-12.976l-4.816-6.456-6.424 4.856C205.504 141.728 198.864 144 192 144c-2.576 0-5.312-.432-8.6-1.352l-7.008-1.968-2.624 6.792C168.96 159.944 157.272 168 144 168h-8v8.808c-18.232 3.72-32 19.872-32 39.192 0 20.176 15.072 36.736 34.512 39.448 3.392 15.84 10.2 30.392 19.52 42.984-8.512.144-16.904-3.032-23.168-9.296z"/><path d="M359.664 238.632c.128-2.208.336-4.392.336-6.632v-38.528c9.288 3.312 16 12.112 16 22.528 0 10.536-6.872 19.416-16.336 22.632zm-223.328 0C126.872 235.416 120 226.536 120 216c0-10.416 6.712-19.216 16-22.528V232c0 2.24.208 4.424.336 6.632zM152 232v-48.664c14.288-2.384 26.64-11.08 33.752-23.824 10.392 1.576 20.016-.504 28.784-5.264C223.456 163.064 235.312 168 248 168s24.544-4.936 33.464-13.744c8.768 4.76 18.384 6.848 28.784 5.264 7.112 12.736 19.464 21.44 33.752 23.824V232c0 52.936-43.064 96-96 96s-96-43.064-96-96zm40 112h.8c.096.48.224.976.336 1.472l-50.44 12.608-.424-.192A24.106 24.106 0 0 1 129.384 344H192zm167.936 79.008l-15.872 1.984L350.936 480H145.064l6.872-55.008-15.872-1.984L128.936 480H66.88l19.888-63.624c6.576-21.064 21.448-38.536 40.992-48.656.152.12.288.256.448.376-4.984 11.472-4.384 24.824 2.016 35.904 6.4 11.08 17.656 18.272 30.08 19.696 1.424 12.424 8.616 23.68 19.696 30.088 11.088 6.408 24.44 6.992 35.896 2.008C223.344 465.84 235.2 472 248 472s24.656-6.16 32.104-16.208c11.464 4.976 24.824 4.384 35.896-2.016 11.08-6.4 18.272-17.664 19.696-30.08 12.424-1.424 23.68-8.616 30.088-19.696 6.392-11.08 6.992-24.432 2.008-35.904.16-.12.296-.256.448-.376 19.544 10.12 34.416 27.592 41 48.656L429.12 480h-62.056l-7.128-56.992z"/><path d="M248 256c13.232 0 24-10.768 24-24s-10.768-24-24-24-24 10.768-24 24 10.768 24 24 24zm0-32c4.408 0 8 3.592 8 8s-3.592 8-8 8c-4.408 0-8-3.592-8-8s3.592-8 8-8z"/><path d="M272 290.504c0-11.16 12.016-18.632 12.136-18.704l-.064-.112c14.992-8.44 19.264-20.384 19.52-21.16l-15.176-5.064C288.344 245.656 281.304 264 248 264c-33.064 0-39.816-17.8-40.088-18.56l-15.2 4.992c.248.776 4.368 12.76 19.28 21.232l-.088.152c.112.072 12.096 7.536 12.096 18.688 0 17.608 14.352 24 24 24s24-6.392 24-24zm-32 0c0-4.088-.904-7.712-2.144-11.08 3.184.336 6.512.576 10.144.576s6.952-.24 10.144-.576c-1.24 3.368-2.144 6.992-2.144 11.08 0 6.416-4.368 7.888-7.952 8-3.68-.112-8.048-1.584-8.048-8z"/></g></svg>
	// End intro-block
	
	// Start tour-section
	section.block.tour-block
		.container
			+title-block("Quick And Easy Search", "AWSOME TOUR")
			ul.filter-list
				mixin filterItem(icon, text)
					li&attributes(attributes)
						a(href="#") 
							i(class=icon)
							| #{text}
				+filterItem("fa fa-list", "All").active
				+filterItem("icon-people-1", "Honeymoon")
				+filterItem("icon-summer", "Holiday")
				+filterItem("icon-family-group-of-three", "Family")
				+filterItem("icon-diamond", "Luxury")
				+filterItem("icon-hiking", "Safari")
				+filterItem("icon-meditation", "Relax")
			
			+tourItem($imgBaseUrl + "blog-img1.jpg")
			+tourItem($imgBaseUrl + "blog-img2.jpg")
			+tourItem($imgBaseUrl + "blog-img3.jpg")
			.button-container
				a(href="#").button.button-default SEE ALL TOUR
	// End tour-section

	// Start feature-section
	section.feature-block
		mixin featureItem(imgUrl, icon, title, text)
			// Start feature-item
			figure.gallery__item&attributes(attributes)
				.gallery__content
					img(src=imgUrl, alt="")
					.overlay
						i(class=icon)
						h4= title
						p!= text || "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh "
						a(href="#").button.button-default See More
		.gallery__masonry
			.gallery__gutter
			.gallery__sizer
			+featureItem($imgBaseUrl + "location_tour_img1.jpg", "icon-beach", "Beahes & Islands")
			+featureItem($imgBaseUrl + "location_tour_img2.jpg", "icon-people-3", "Family Tours")
			+featureItem($imgBaseUrl + "location_center_img1.jpg", "icon-arrows", "See Our Latest Video").item--big
			+featureItem($imgBaseUrl + "location_tour_img3.jpg", "icon-beach-1", "HISTORY & CLUTURE")
			+featureItem($imgBaseUrl + "location_tour_img4.jpg", "icon-beach", "NATURE & WILDLIFE")
			+featureItem($imgBaseUrl + "location_tour_img5.jpg", "icon-transport-4", "ADVENTURE TOUR")
			+featureItem($imgBaseUrl + "location_tour_img6.jpg", "icon-sport", "FISHING TRIP")
			+featureItem($imgBaseUrl + "location_tour_img7.jpg", "icon-beach", "HONEYMOON TOUR")
			+featureItem($imgBaseUrl + "location_tour_img8.jpg", "icon-beach", "SEA KAYAKING")
	// End feature-section

	// Start trending-city-section
	section.block.trending-block.light-bg
		+title-block("Quick And Easy Search", "Top Trending Citys")
		.container
			ul.city-list
				mixin cityItem(imgUrl, title)
					li
						a.thumbnail-wrapper(href="javascript:void(0)"): img(src=imgUrl, alt="")
						h4= title
				each el, i in ["Australia", "London", "New York", "Copenhagen", "Amstedam", "Paris", "Los Angles", "Barcelona"]
					+cityItem(`${$imgBaseUrl}city-img0${i+1}.jpg`, el)
			.button-container
				a(href="#").button.button-orange GET A QOUTE
	// End trending-city-section

	// Start team-section
	section.block.team-block
		.container
			+title-block("MEET INTERESTING PEOPLE", "Meet Our Expert")
			.row
				.col-sm-4.col-md-3
					+teamItem2($imgBaseUrl + "expert-img01.jpg", "Karen J. Wheller")
				.col-sm-4.col-md-3
					+teamItem2($imgBaseUrl + "expert-img02.jpg", "Daniel M. Cherry")
				.col-sm-4.col-md-3
					+teamItem2($imgBaseUrl + "expert-img03.jpg", "Pamela B. Plose")
				.col-sm-4.col-md-3
					+teamItem2($imgBaseUrl + "expert-img04.jpg", "Jasica L. Deen")
	// End team-section
	
	+testimonial-block()

	+banner-block()
	
	// Start post-section
	section.block.post-block
		.container
			+title-block("MEET INTERESTING PEOPLE", "RELATED NEWS POST")

			.row
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img1.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img2.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img3.jpg", "", "", "")(class="col-sm-6 col-md-4")

	// End post-section
	
