

include common/content
include common/slider
include common/widget
include common/nav

include bootstrap/form
include bootstrap/nav
include bootstrap/component
//- TABLE OF CONTENT
    1. ONE-LEVEL MENU
    2. WP MENU
    3. CART (IN HEADER)
    3. BOOTSTRAP BREADCRUMB
    5. PAGINATION
//- simpleMenu

mixin simple-social-icon()
    .social-icons&attributes(attributes)
        each el, i in ["facebook-f", "twitter", "google-plus-g", "instagram"]
            a(href="#", title="", target="_blank", rel="nofollow"): i(class= "fab fa-" + el)
//- TITLE 
    .title-wrapper>h3.main-title+.sub-title>p
mixin title-block(subTitle, mainTitle)
    .title__wrapper&attributes(attributes)
        if(subTitle)
            span.title__sub!= subTitle
        h3.title__main!= mainTitle
        

//- PRODUCT ITEM
mixin tourItem(imgUrl, name, text, currentPrice)
    - 
        var holder = {
            img: "http://placehold.it/240x220",
            title: "PARIS SPECIAL TOUR",
            text: "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, ",
            oldPrice: "$890",
            currentPrice: "$750",
        }
    // begin tour-item
    .col-sm-6.col-md-4
        .tour__item.tour--effectHover&attributes(attributes)
            .thumbnail-wrapper
                a(href="#"): img(src=imgUrl || holder.img, alt='')
            .tour__meta
                ul
                    li.meta-package
                        i.icomoon.icon-travel
                        i.icomoon.fas.fa-plane
                        i.icomoon.fas.fa-car 
                    li.meta-duration 
                        i.far.fa-clock
                        | &nbsp; 5 Days/ 6 Nights
            .tour__price
                span= currentPrice || holder.currentPrice
            .tour__content
                .meta-location
                    a(href="#") France
                    a(href="#") Paris
                h3: a(href='#', title)= name || holder.title
                p!= text || holder.text
                ul.meta-rating
                    li.rate-bar
                    li.reviews 232 Reviews
            
            ul.tour__actions
                li
                    a.tour__button.button--lg(href="#") Book Now
                li
                    a.tour__button(href='#', title='Add to Cart'): i.fas.fa-eye
                    .badge-top
                        span 200 views
                li
                    a.tour__button(href='#', title='Add to Wishlist'): i.far.fa-heart
                    .badge-top
                        span 140 likes
                li
                    a.tour__button(href='#', title='Add to Comapre'): i.icon-share
                    .badge-top
                        +simple-social-icon()
// end tour-item

//- TEAM ITEM
mixin teamItem2(imgUrl, name, position)
    //- section.team-section>.team>(.avatar-wrapper>img+.team-info>.content-inner>p)+h4.team-name+p.team-position
    - 
        var holder = {
            img: "http://placehold.it/240x220",
            name: "Karen J. Wheller",
            positon: "Traveler Expert",
        }
    // Begin team Item
    article.team__item
        .thumbnail-wrapper
            img(src=imgUrl || holder.img, alt="").img-responsive
            
        .team__caption
            .overlay&attributes(attributes)
                ul.social-icons.icon--bgColor
                    +social-icon2(4)
            h4.team__name= name || holder.name
            span.team__positon= position || holder.positon
    // End team Item

//- 6. POST BLOCK
mixin postItem-style2(imgUrl, title, date, content, btnTxt)
    //- section.blog-section.bg-light>.container>h3+.row
        article.col-md-4.blog-post
        a.post-thumbnail>img+.img-overlay>i.icon^^
        .post-content>h4.post-title+time.date-post[datetime=""]+(.post-des>p)+a.more-link
        figure.effect-hover>img.img-responsive+figcaption>h5+p
    - 
        var holder = {
            img: "http://placehold.it/240x220",
            title: "Etiquette Tips for Travellers",
            date: "24 Feb 2018",
            tag: "Posted by traveller",
            text: "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, ",
            author: "By Josaon Smith",
            comment: "21 Comments",
        }
    // Begin post-item
    div&attributes(attributes)
        article.post__item
            .thumbnail-wrapper
                img(src=imgUrl || holder.img, alt="")
                
            .post__content
                h4: a(href="#", title="")= title || holder.title
                ul.post__meta
                    li
                        i.fas.fa-calendar-alt
                        span.date-post= holder.date
                    li
                        i.fas.fa-tags
                        span.category JUNGLE SAFARIS
                
                if(block)
                    block
                else
                    p!= content || holder.text
            ul.post__footer
                li 
                    i.fas.fa-user 
                    a(href="#").post__author= holder.author
                li 
                    i.fas.fa-comments
                    span.post__comments= holder.comment
    // End post-item
mixin heroItem(title, text)
    .container.block__inner
        h1= title
        p!= text
        if(block)
            block

mixin iconItem(icon, title, text)
    .block--icon&attributes(attributes)
        .icon-wrapper
            i(class=icon)
        .content-wrapper
            h3: a(href="#")= title
            p!= text || "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor."

mixin featureItem(imgUrl, icon, title, text)
    // Start feature-item
    figure.block--icon.block--bgImage(style="background-image: url(" + imgUrl + ");")&attributes(attributes)
        .overlay
            .icon-wrapper
                i(class=icon)
            .content-wrapper
                h4: a(href="#")= title
                p!= text || "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin."
                a(href="#").button-link BOOK NOW

mixin testimonial-block
    // Start testimonial-section
    section.block.testimonial-block.light-bg
        .container
            +title-block("What People Say About Us", "TOP REVEIWS")
            .testimonial-slider
                +testimonialItem-v1($imgBaseUrl + "placeholder/testimonial-img1.png", "", "", "")
                +testimonialItem-v1("", "", "", "")
                +testimonialItem-v1($imgBaseUrl + "placeholder/testimonial-img1.png", "", "", "")

    // End testimonial-section

mixin banner-block
    // Start banner-section
    +bannerBlock($imgBaseUrl +"summer-vacaton-img.png")
        h5 Summer Special
        h2 30% off
        h3 Spend a best Holidays with us
        p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
        a(href="#").button.button-white Book Now
    // End banner-section

mixin partner
    // Start partner-section
    section.block.partner-block
        .container
            +title-block("INVESTORS RELATIONS", "OUR PARTNERS")

            .partner-slider
                - for( y = 0; y < 2; y++){
                    - for( x = 0; x < 6; x++){
                        a(href="#"): img(src=`${$imgBaseUrl}brands-img0${x+1}.png`, alt="")
                    - }
                - }

mixin contact-frm()
    form.frm-wrapper(action="#", method="post", enctype="multipart/form-data")&attributes(attributes)
        .col-xs-12
            label.sr-only(for="user-name") Your name
            input(type="text", placeholder="Your name", id="user-name")
        .col-xs-12
            label.sr-only(for="user-email") Email
            input(type="text", placeholder="Email", id="user-email")
        .col-xs-12
            label.sr-only(for="user-subject") Subject
            input(type="text", placeholder="Subject", id="user-subject")
        .col-xs-12
            label.sr-only(for="user-comment") Comments
            textarea( placeholder="Comments", id="user-comment")

        .col-xs-12
            button(type="submit").button.button-default Send Message