    
// Start instagram-section
section.instagram-section
    ul.instagram-slider
        - for( x = 0; x < 13; x++){
            li
                a(href="#"): img(src=`${$imgBaseUrl}placeholder/instagram-img${x+1}.jpg`, alt="")
        - }
// End instagram-section
// Start footer-section
footer.footer-section
    .main-footer
        .container
            .row
                .col-sm-5.col-md-5
                    .widget-footer
                        h5 Follow us
                        ul.social-icons.icon--bgColor
                            +social-icon2(4)
                    .divider
                    .widget-footer.frm-subscribe
                        h5 STAY CONNECTED
                        span Subscribe us ti get latest offers news letter   
                        form#newsletter-frm(action="#", method="post", enctype="multipart/form-data")
                            .frm--inline
                                label.sr-only(for="email") Email Address
                                input(type="text", placeholder="Email Address", id="email")
                                button(type="submit").button.button-orange subscribe
                        // End newsletter-frm
                .col-sm-3.col-md-3.col-md-offset-1
                    .widget-footer
                        h5 IMPORTANT LINKS
                        ul.menu-footer.ul-style
                            each val in ["Flights", "Tours", "Destination", "Hotel", "Packages", "Transfer", "CarCruies"]
                                li: a(href="#")= val

                .col-sm-3.col-md-3            
                    .widget-footer
                        h5 TOP DESTINATIONS
                        ul.widget-gallery
                            - for( x = 0; x < 6; x++){
                            li
                                a(href="#"): img(src=`${$imgBaseUrl}common/widget-gallery-img${x+1}.jpg`, alt="")
                            - }
    .footer-copyright
        .container
            span © 2018 - All Right Reserved
            .payment
                each el, i in ["payment1", "payment2", "payment3", "payment4"]
                    a(href="#", title="", target="_blank", rel="nofollow"): i(class=el)    
// End footer-section