

//- TITLE 
	.title-wrapper>h3.main-title+.sub-title>p
mixin title-block-v2(subTitle, mainTitle)
	.title-wrapper&attributes(attributes)
		h3.main-title!= mainTitle
		p.sub-title!= subTitle
			 
//- SOCIAL ICON
	+social-icon(['twitter', 'linkedin', 'facebook', 'xing', 'rss'])
mixin social-icon(arr)
	.social-icons
		each icon in arr
			a(href= "javascript:void(0);", title="", target="_blank", rel="nofollow"): i(class="fa fa-#{icon}")
//- font awsome js
mixin social-icon2(showItem, ...arr)
	each el, i in arr.length ? arr : ["facebook-f", "twitter", "google-plus-g", "instagram", "dribbble", "youtube"]
		- if( i >= showItem) break;
		li: a(href="#", title="", target="_blank", rel="nofollow"): i(class= "fab fa-" + el)
		

mixin quantity-btns
	.quantity-btns
		input(type="text", min="1", max="200", name="pro-quantity", value="1", title="Qty")
		span.fa.fa-plus.plus-btn
		span.fa.fa-minus.minus-btn

//- bannerBlock
mixin bannerBlock(imgUrl)
	// Begin banner block
	section.block--bgImage.banner-block&attributes(attributes)
		.container
			.offer-wrapper
				if(block)
					block
				else
					h5 Summer Special
					h2 30% off
					h3 Spend a best Holidays with us
					p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
					a(href="#").button.button-white Book Now
			.thumbnail-wrapper
				img(src=imgUrl || "http://placehold.it/240x220", alt="")
	// End banner block

//- 6. gallery BLOCK
mixin galleryIem( imgUrl, title, ...text)
	// Begin gallery-item
	figure.gallery-item&attributes(attributes)
		img(src='images/' + imgUrl, alt="")
		figcaption
			.content-wrapper
				.content-inner
					h5!= title
					p
						each item in text
							a(href="#", rel="tag")= item
					.figure-overlay
						a.zoom(href="#", title): i.fa.fa-search-plus
						a.link(href="#", title): i.fa.fa-link

//- 6. POST BLOCK
mixin postItem(imgUrl, title, date, content, btnTxt, hasOverlay=false)
	//- section.blog-section.bg-light>.container>h3+.row
		article.col-md-4.blog-post
		a.post-thumbnail>img+.img-overlay>i.icon^^
		.post-content>h4.post-title+time.date-post[datetime=""]+(.post-des>p)+a.more-link
		figure.effect-hover>img.img-responsive+figcaption>h5+p
	- 
		var holder = {
			img: "http://placehold.it/240x220",
			title: "Etiquette Tips for Travellers",
			date: "24 Feb 2018",
			tag: "Posted by traveller",
			text: "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, ",
			author: "By Josaon Smith",
			comment: "21 Comments",
		}
	// Begin post-item
	div&attributes(attributes)
		article.post-item
			.thumbnail-wrapper
				img(src=imgUrl || holder.img, alt="")
				if (hasOverlay)
					.overlay.effect-hover
						.star-rating
						.action-icons
							each el, i in ["facebook", "twitter", "google-plus", "instagram"]
								a(href="#", title="", target="_blank", rel="nofollow"): i(class= "fa fa-" + el)
				
			.post-title
				h3: a(href="#", title="")= title || holder.title

			.post-meta
				span.category JUNGLE SAFARIS
				span.author= author
				time.date-post(datetime="")= date
				
			.post-des
				if(block)
					block
				else
					p!= content || holder.text
			a.more-link(href="#")= btnTxt || 'READ ARTICLE <i class="fa fa-long-arrow-right"></i>'
	// End post-item

//- PRODUCT ITEM
	+productItem("bermuda", "pro02_250x192.jpg", "$890", "isDiscount", "isOnSale")
mixin productItem(name, imgUrl, text, currentPrice, oldPrice, isDiscount=false, savePercent=false, fullInfo=false)
	- 
		var holder = {
			img: "http://placehold.it/240x220",
			title: "Etiquette Tips for Travellers",
			text: "This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, ",
			oldPrice: "$890",
			currentPrice: "$750",
		}
	// begin product-item
	.product-item&attributes(attributes)
		if(savePercent) 
			span.sale-icon -30%
		if(isDiscount) 
			span.badge.new-badge Sale
		.thumbnail-wrapper
			a(href="#"): img(src=imgUrl || holder.img, alt='')
			.overlay.effect-hover
				.action-icons
					a(href='cart.html', title='Add to Cart'): i.fa.fa-shopping-cart
					a(href='my_account.html', title='Add to Wishlist'): i.fa.fa-heart
					a(href='compare_product.html', title='Add to Comapre'): i.fa.fa-refresh
					
		.product-content
			if(fullInfo)
				.rate-bar
				.recent-order
					span.order 263
					| &nbsp;orders
			h3: a(href='#', title)= name || holder.title
			.product-description
				if(block)
					block
				else
					p!= text || holder.text
			.price
				if(isDiscount)
					del: span= oldPrice || holder.oldPrice
					ins: span= currentPrice || holder.currentPrice
				else
					span= currentPrice || holder.currentPrice
	// end product-item

//- TEAM ITEM
mixin teamItem(imgUrl, name, position)
	//- section.team-section>.team>(.avatar-wrapper>img+.team-info>.content-inner>p)+h4.team-name+p.team-position
	- 
		var holder = {
			img: "http://placehold.it/240x220",
			name: "Karen J. Wheller",
			positon: "Traveler Expert",
		}
	// Begin team Item
	article.team-item
		.thumbnail-wrapper
			img(src=imgUrl || holder.img, alt="").img-responsive
			.overlay&attributes(attributes)
				.social-icons
					a(href="#", title="Facebook", target="_blank", rel="nofollow"): i.icon-facebook
					a(href="#", title="Twitter", target="_blank", rel="nofollow"): i.icon-twitter
					a(href="#", title="Google plus", target="_blank", rel="nofollow"): i.icon-google-plus
		.caption-wrapper
			h4.team-name= name || holder.name
			span.team-positon= position || holder.positon
	// End team Item

//- testimonial Item 
mixin testimonialItem-v1(imgUrl, name, text, position)
	-
		var holder = {
				img: "http://placehold.it/240x220",
				name: "Karen J. Wheller",
				position: "Traveler Expert",
				quote: "Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.."
			}
	// Begin testimonial Item
	.testimonial__item&attributes(attributes)
		blockquote
			p= text || holder.quote
			.rate-bar
		footer
			.thumbnail-wrapper
				if (imgUrl) 
					img(src=imgUrl, alt="")
				i.fa.fa-user
			h5= name || holder.name
			span= position || holder.position
	// End testimonial Item

//- VIDEO
mixin video
	.embed-responsive.embed-responsive-16by9
		iframe.embed-responsive-item(src="//player.vimeo.com/video/257450810", frameborder="0", webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="")

//- MAP
mixin google-map
	iframe(width="100%", height="458", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="http://maps.google.se/maps?f=q&source=s_q&hl=sv&q=Nobelplatsen+2,+416+57+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+L%C3%A4n&aq=&sll=57.698218,11.981715&sspn=0.009311,0.033023&vpsrc=0&ie=UTF8&geocode=FeqkcAMd8zO3AA&split=0&hq=&hnear=Nobelplatsen+2,+416+57+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+L%C3%A4n&ll=57.713925,12.00664&spn=0.009307,0.033023&t=m&z=14&iwloc=near&output=embed")

