//- TABLE OF CONTENT
	1. ONE-LEVEL MENU
	2. WP MENU
	3. CART (IN HEADER)
	5. PAGINATION

//- simpleMenu
mixin simpleMenu(arr)
	ul&attributes(attributes)
		each val in arr
			li: a(href="#")= val

//- 1. ONE-LEVEL MENU
	+menu([["My Account", "account.html", "active"], ["My Wishlist(3)", "account.html"]]).menu-list.center-xs
mixin menu(arr)
	ul&attributes(attributes).unstyled-list
		- for (items in arr)
			- var item = arr[items]
			- if (!item[1])
					- item[1] = "javascript:void(0);"
			- if (item[2] == "active")
				li.active
					a(href=item[1] title=item[0])= item[0]
			- else 
				li
					a(href=item[1] title=item[0])= item[0]

//- 2. WP MENU
	ul.wp-menu.menu-list-sm.clearfix.d-none.d-sm-block
		+wp-menuItem("HOME", "#", "isActive")
		+wp-subMenu("PORTFOLIO", "#", ["PORTFOLIO01", "PORTFOLIO01", "PORTFOLIO01"])

mixin wp-menuItem(title, url, isActive)
	- if (isActive)
		li.menu-item.current-menu-item
			a(href=url title=title)= title
	- else
		li.menu-item&attributes(attributes)
			a(href=url title=title)= title
			if(block)
				block

mixin wp-subMenu(title, url, arr)
	li.menu-item.menu-item-has-children
		a(href=url title=title)= title 
		ul.sub-menudl-submenu&attributes(attributes)
			each val in arr
				li.menu-item
					a(href="#")= val
//- 3. CART
mixin cart
	.shopping-cart-holder.cart-info-disabled
		.cart-icon-wrapper
			img(src="images/cart.svg", alt="")
			i.cart-number 2
		span.cart-total $.00
		.shopping-cart-dropdown
			ul
				li.empty-cart No products in the cart.

//- 5. PAGINATION
mixin pagination
	// begin pagination
	ul.likipe-pagination
		li: span.page-numbers.current 1
		li: a.page-numbers(href="#") 2
		li: a.page-numbers(href="#") 3
		li: a.next.page-numbers(href="#") →
	// begin pagination